apiVersion: v1
kind: Secret
metadata:
    name: "{{ item['name'] }}"
    namespace: "{{ project }}"
type: kubernetes.io/dockerconfigjson
data:
    {% set auth = item['username'] ~ ":" ~ item['password'] -%}
    {% set json = '{"auths":{' ~ item['hostname']|tojson ~ ':{"username":' ~ item['username']|tojson ~ ',"password":' ~ item['password']|tojson ~ ',"auth":' ~ auth|b64encode|tojson ~ '}}}' -%}
    .dockerconfigjson: {{ json|b64encode }}