apiVersion: v1
kind: Secret
metadata:
    name: "{{ registry_name }}"
    namespace: "{{ project }}"
type: kubernetes.io/dockerconfigjson
data:
    {% set auth = registry_username ~ ":" ~ registry_password -%}
    {% set json = '{"auths":{' ~ registry_hostname|tojson ~ ':{"username":' ~ registry_username|tojson ~ ',"password":' ~ registry_password|tojson ~ ',"auth":' ~ auth|b64encode|tojson ~ '}}}' -%}
    .dockerconfigjson: {{ json|b64encode }}